<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseURL</key>
	<string>https://ar.purpl.dev</string>
	<key>CampaignID</key>
	<string>jdunjx_example-project</string>
	<key>BundleID</key>
	<string>no.purpl.ARCampaignExample</string>
	<key>APIKey</key>
	<string>jfmgD5n2OiCbPdIJQZtPFq9rLgbT6XQg</string>
</dict>
</plist>
